.Backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    transform: translateY(-100§vh);
    z-index: 1000;
}

.show {
    transform: translate(0);
}