.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TextWrapper {
  margin: 0 auto;
  width: 60%;
  text-align: start;
  font-size: 1.5rem;
}

.Results {
  padding: 8px 8px 8px 24px;
  border: 4px solid palevioletred;
  border-radius: 4px;
}

.Results li {
  margin-bottom: 8px;
}

.Results li:before {
  content: '❤️';
  margin-left: -20px;
  margin-right: 10px;
  background-color: white;
  font-weight: bold;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.H1 {
  max-width: 90vw;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-conten;
  font-size: 3rem;
  color: blueviolet;
}

.ToolBar {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

.ToolBar > a {
  margin: 0 8px;
  padding: 0 8px;
  font-size: 1.2rem;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.ToolBar > a:hover {
  border-bottom-color: black;
}

.KindnessCard {
  margin-bottom: 24px;
  font-size: 1.5rem;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.KindnessCard:last-of-type {
  margin-bottom: 36px;
}

.Body {
  margin-top: 60px;
  overflow-y: scroll;
  height: calc(100vh - 60px);
}
